.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

/* ჰედერი */

header {
    max-width: inherit;
    width: inherit;
    background-color: #D5906E85;
    backdrop-filter: blur(5px);
    padding: 25px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    display: flex;
    gap: 60px;
}

li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navtext {
    color: #FFFFFF;
    transition: 0.7s;
}

.navtext:hover {
    color: #D5906E;
}

.selectedtext {
    color: #D5906E;
}

.headtitle {
    display: flex;
    transition: 0.7s;
}

.headtitle:hover {
    gap: 20px;
}

.headtitle1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.headtitle2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.signin {
    display: flex;
    gap: 15px;
}

.signtext {
    color: #FFFFFF;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: 0.7s;
}

.signtext:hover {
    color: #D5906E;
}

.fa-cart-shopping {
    color: #FFFFFF;
}

/* სექცია1 */

.section1 {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/homebackimg.png");
}

.sec1div {
    width: 750px;
    height: 250px;
    align-items: center;
}

.sec1title {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    animation: title 3s;
    animation-iteration-count: infinite;
}

@keyframes title {
    0% {
        color: #FFFFFF;
    }

    25% {
        color: #D5906E;
    }

    50% {
        color: #FFFFFF;
    }

    75% {
        color: #D5906E;
    }
}

.sec1text {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 75px;
}

.sec1button {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 310px;
    height: 55px;
    border: 2px solid #D5906E;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    margin-left: 200px;
    transition: 0.7s;
}

.sec1button:hover {
    background-color: #D5906E;
}

/* არტიკლი1 */

article {
    width: 60%;
    margin: 0 auto;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    padding-bottom: 160px;
}

.card {
    transition: 0.7s;
}

.card:hover {
    box-shadow: 10px 10px 10px #D5906E;
}

.cardtext {
    padding-top: 25px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #B53B1B;
}

/* სექცია2 */

.section2 {
    width: 100%;
    margin: 0 auto;
    background: #402101;
}

.sec2title {
    text-align: center;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 40px;
    animation: title 3s;
    animation-iteration-count: infinite;
}

.sec2div {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    padding-left: 365px;
}

.gallerydiv1 {
    padding-bottom: 60px;
}

.sec2img1 {
    padding-right: 60px;
}

.sec2img4 {
    padding-left: 60px;
    padding-right: 60px;
}

.gallerydiv2 {
    padding-bottom: 100px;
}

/* არტიკლი2 */

.article2 {
    width: 100%;
    margin: 0 auto;
}

.art2title {
    text-align: center;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #402101;
    padding-top: 160px;
    padding-bottom: 40px;
    animation: title 3s;
    animation-iteration-count: infinite;
}

.art2div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 160px;
    gap: 60px;
}

.art2card {
    position: relative;
    transition: 0.7s;
}

.art2card:hover {
    box-shadow: 10px 10px 10px black;
}

.price {
    position: absolute;
    top: 0;
    padding-top: 230px;
    padding-left: 20px;
    color: #B53B1B;
    width: 90px;
    height: 50px;
}

.fa-angle-left {
    color: #FFFFFF;
    background-color: #B53B1B;
    font-size: 44px;
    cursor: pointer;
}

.fa-angle-right {
    color: #FFFFFF;
    background-color: #B53B1B;
    font-size: 44px;
    cursor: pointer;
}

/* სექცია3 */

.section3 {
    width: 100%;
    height: 480px;
    margin: 0 auto;
    background-image: url('../images/section3backimg.png');
}

.sec3title {
    text-align: center;
    padding-top: 160px;
    padding-bottom: 75px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    animation: title 3s;
    animation-iteration-count: infinite;
}

.email[type=text] {
    margin-left: 560px;
    margin-bottom: 160px;
    width: 480px;
    height: 55px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent;
}

input[type=submit] {
    width: 150px;
    height: 55px;
    color: #402101;
}

/* არტიკლი3 */

.article3 {
    width: 90%;
    margin: 0 auto;
}

.art3title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #402101;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 40px;
    animation: title 3s;
    animation-iteration-count: infinite;
}

.article3divs {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.art3div {
    width: 440px;
    background-color: #D5906E4D;
    border-radius: 8px;
}

.art3divtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #B53B1B;
}

.art3divtext {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #402101;
    padding-top: 25px;
}

.article3title2 {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #402101;
    text-align: center;
    padding-top: 115px;
}

.art3btn {
    text-align: center;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 160px;
    width: 310px;
    height: 55px;
    background: #B53B1B;
    border-radius: 10px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
}

/* ფუტერი */

footer {
    width: 100%;
    height: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background: #402101;
}

.foothelp {
    padding-top: 35px;
}

.help {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.7s;
}

.help:hover {
    color: #B53B1B;
}

.midhelp {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logotitle1 {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}

.footlogo {
    display: flex;
    padding-top: 35px;
}

.logotitle2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: #D5906E;
}

.footicons {
    padding-top: 45px;
}

.footinfo {
    padding-top: 35px;
}

.infotext {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    transition: 0.7;
}

.infotext:hover {
    color: #B53B1B;
}

.midinfo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.icons {
    padding-top: 35px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icons_info {
    display: flex;
}

.fa-phone {
    color: #FFFFFF;
    transition: 0.7s;
}

.fa-phone:hover {
    color: #B53B1B;
}

.fa-envelope {
    color: #FFFFFF;
    transition: 0.7s;
}

.fa-envelope:hover {
    color: #B53B1B;
}

.fa-location-dot {
    color: #FFFFFF;
    transition: 0.7s;
}

.fa-location-dot:hover {
    color: #B53B1B;
}

/* მე-2 გვერდი სექცია1 */

.artworksection1 {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/artworksec1backimg.png");
}

.artworksec1button {
    margin-left: 100px;
    margin-top: 90px;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 310px;
    height: 55px;
    border: 2px solid #D5906E;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    transition: 0.7s;
}

.artworksec1button:hover {
    background-color: #D5906E;
}

/* მე-2 გვერდი არტიკლი1 */

.artworkarticle1 {
    width: 85%;
    margin: 0 auto;
}

.select {
    display: flex;
    padding-top: 180px;
    justify-content: center;
    align-items: center;
}

.choose {
    border: none;
}

input[type=text] {
    width: 500px;
    height: 55px;
}

.artarticle1title {
    padding-top: 60px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #402101;
    padding-left: 25px;

}

.first_row {
    display: flex;
    justify-content: space-around;
    padding-top: 95px;
}

.second_row {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.Product_Name {
    padding-top: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #B53B1B;
}

.price2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #402101;
    padding-top: 30px;
}

.shadow {
    transition: 0.7s;
}

.shadow:hover {
    box-shadow: 10px 10px 15px #B53B1B;
}

.numbers {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 160px;
}

.number {
    border: 2px solid #B53B1B;
    width: 56px;
    height: 56px;
    margin-top: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num {
    font-size: 24px;
}

.colored {
    background-color: #B53B1B;
}

.white {
    color: #FFFFFF;
}

.fa-cart-plus {
    margin-left: 295px;
    background: #B53B1B;
}