.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

/* ჰედერი */

header {
    max-width: inherit;
    width: inherit;
    background-color: #D5906E85;
    backdrop-filter: blur(5px);
    padding: 25px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    display: flex;
    gap: 60px;
}

li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navtext {
    color: #FFFFFF;
    transition: 0.7s;
}

.navtext:hover {
    color: #D5906E;
}

.selectedtext {
    color: #D5906E;
}

.headtitle {
    display: flex;
    transition: 0.7s;
}

.headtitle:hover {
    gap: 20px;
}

.headtitle1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.headtitle2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.signin {
    display: flex;
    gap: 15px;
}

.signtext {
    color: #FFFFFF;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: 0.7s;
}

.signtext:hover {
    color: #D5906E;
}

.fa-cart-shopping {
    color: #FFFFFF;
}

/* სექცია1 */

.section1 {
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/homebackimg.png");
}

.sec1div {
    width: 750px;
    height: 250px;
    align-items: center;
}

.sec1title {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    animation: title 3s;
    animation-iteration-count: infinite;
}

@keyframes title {
    0% {
        color: #FFFFFF;
    }
    25%{
        color: #D5906E;
    }
    50%{
        color: #FFFFFF;
    }
    75%{
        color: #D5906E;
    }
}

.sec1text {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 75px;
}

.sec1button {
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 310px;
    height: 55px;
    border: 2px solid #D5906E;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    margin-left: 200px;
    transition: 0.7s;
}
.sec1button:hover{
    background-color: #D5906E;
}