.container {
    max-width: 1920px;
    width: 100%;
    margin-inline: auto;
}

/* ჰედერი */

header {
    max-width: inherit;
    width: inherit;
    background-color: #D5906E85;
    backdrop-filter: blur(5px);
    padding: 25px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navigation {
    display: flex;
    gap: 60px;
}

li {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.navtext {
    color: #FFFFFF;
    transition: 0.8s;
}

.navtext:hover {
    color: #D5906E;
}

.selectedtext {
    color: #D5906E;
}

.headtitle {
    display: flex;
    transition: 0.8s;
    transition: 0.7s;
}

.headtitle:hover {
    gap: 20px;
}

.headtitle1 {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.headtitle2 {
    color: #D5906E;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
}

.signin {
    display: flex;
    gap: 15px;
}

.signtext {
    color: #FFFFFF;
    font-family: 'Inter' sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    transition: 0.7s;
}

.signtext:hover {
    color: #D5906E;
}

.fa-cart-shopping {
    color: #FFFFFF;
}